.list-cell:filled:hover {
    -fx-background-color: #80C8F2;
}

.root{
    -fx-font-size: 16pt;
    -fx-font-family: "Helvetica";
}

.tab-label {
    -fx-font-size: 26pt;
    -fx-label-padding: -6 0 0 0;
    -fx-font-family: "Helvetica";
}

.button:hover{
    -fx-cursor: hand;
    -fx-opacity: 0.8;
}