
.root {
    -fx-accent: #c9c9c9;
    -fx-focus-color: -fx-accent;
    -fx-base: #383535;
    -fx-font-size: 16pt;
    -fx-font-family: "Helvetica";


    -fx-control-inner-background: derive(-fx-base, 35%);
    -fx-control-inner-background-alt: -fx-control-inner-background ;

}
.tab-pane{
    -fx-background-color: rgba(59, 59, 59, 0.75);
}



.tab-label {
    -fx-font-size: 26pt;
    -fx-label-padding: -6 0 0 0;
    -fx-font-family: "Helvetica";
}

.label{
    -fx-text-fill: white;
}

.text-field {
    -fx-prompt-text-fill: grey;
    -fx-border-color: grey;
}


.button{

    -fx-border-color: white;

    -fx-border-width: 2;

}

.button:focused{
    -fx-border-color: black;
    -fx-border-width: 3;
}

.button:hover{
    -fx-text-fill: white;
    -fx-border-color: black;
    -fx-border-width: 3;
    -fx-cursor: hand;
    -fx-opacity: 0.8;
    /*-fx-border-color: black;
    -fx-focus-color: black;*/
}

.separator *.line {
    -fx-background-color: #3C3C3C;
    -fx-border-style: solid;
    -fx-border-width: 1px;
}

.scroll-bar{
    -fx-background-color: derive(-fx-base,45%)
}

.button:default {
    -fx-base: -fx-accent ;
    /*-fx-border-color: grey;*/
}

.table-view{
    -fx-background-color: derive(-fx-base, 10%);
    -fx-selection-bar-non-focused: derive(-fx-base, 50%);


}

.table-view .column-header .label{
    -fx-alignment: CENTER_LEFT;
    -fx-font-weight: none;
}

.list-cell:even,.table-row-cell:even{
    -fx-control-inner-background: derive(-fx-base, 25%);
    -fx-border-color: grey;
    -fx-font-family: "Helvetica";
}


.list-cell:odd,
.table-row-cell:odd{
    -fx-control-inner-background: derive(-fx-base, 15%);
    -fx-border-color: grey;
    -fx-font-family: "Helvetica";
}

.list-cell:empty,
.table-row-cell:empty {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}

.list-cell,
.table-row-cell{
    -fx-border-color: transparent;
    -fx-table-cell-border-color:transparent;
}
